<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>BloodBank</title> 
  </head>
  <body style="background-color: #fff">
  
  
   <!-- nav bar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    <ul class="navbar-nav mr-auto">
      <h3 style="color: #fff; margin-right:480px;"> <b> Blood Bank Management System </b></h3>
      
      
    
      	<li class="nav-item active" style="margin-right: 18px;"> 
      	
        <a class="nav-link" th:href="@{/requesthospital}"> <b>Request Hospital </b></a>
      	</li> 
     	 
       	<li class="nav-item active"  style="margin-right: 18px;"> 
        <a class="nav-link" th:href="@{/bloodstock}"><b>Blood Stock</b></a>
      	</li> 
       
       	<li class="nav-item active"  style="margin-right: 18px;"> 
        <a class="nav-link" th:href="@{/donor}"><b>Donor</b></a> 
      	</li> 
      	 
      	<li class="nav-item active"  style="margin-right: 18px;"> 
        <a class="nav-link" th:href="@{/blood}"><b>Blood</b></a> 
      	</li> 
      
      	<li class="nav-item active"  style="margin-right: 18px;"> 
        <a class="nav-link" th:href="@{/donateevent}"><b>Donate Events</b></a> 
      	</li> 
      
      
    </ul> 
    
  </div> 
</nav> 
   
   
   <div class="text-center" style="font-size:85px; margin-top:100px; font-family:Goudy Old Style;"> <b> Welcome to Blood Bank Management System! </b>

 <img src="https://i.pinimg.com/originals/26/a1/6c/26a16cbe6c24539d6fec034e43716d2e.png" alt="i.pinimg.com" > 
 
 
 </div>
 
 
 
 
 
 
 
 
 
 
 
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body> 
</html> 